#edit {
  z-index: 10;
  top: 0px;
  left: 0px;
}

.header {
  height: 50px;
  box-shadow: 0px -1px 1px rgba(125, 125, 125, 0.1) inset;
  -moz-box-shadow: 0px -1px 1px rgba(125, 125, 125, 0.1) inset;
  -webkit-box-shadow: 0px -1px 1px rgba(125, 125, 125, 0.1) inset;
  -o-box-shadow: 0px -1px 1px rgba(125, 125, 125, 0.1) inset;
}

.footer {
  height: 50px;
  box-shadow: 0px 1px 1px rgba(125, 125, 125, 0.1) inset;
  -moz-box-shadow: 0px 1px 1px rgba(125, 125, 125, 0.1) inset;
  -webkit-box-shadow: 0px 1px 1px rgba(125, 125, 125, 0.1) inset;
  -o-box-shadow: 0px 1px 1px rgba(125, 125, 125, 0.1) inset;
}

.body {
  height: calc(100% - 100px);
}

.mw{
  max-width: 1200px;
}

#image{
  z-index: 11;
  top: 0px;
  left: 0px;
}

#image img{
  object-fit: contain;
}

#image button{
  top: 10px;
  right: 10px;
  z-index: 1;
}
